[Unit]
Description=OB - 24/7 channel daemon
After=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=true
StandardOutput=journal
DynamicUser=True
StateDirectory=ob
LogsDirectory=ob
CacheDirectory=ob
ExecStart=/usr/local/bin/ob m=on.irc,on.rss -d
ExecStop=/usr/local/bin/ob -k
CapabilityBoundingSet=CAP_NET_RAW

[Install]
WantedBy=multi-user.target
